body {
    background-color: #111;
    color: #ddd;
}

div.helloworld-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1 {
        opacity: 0;
    }
}